<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weaver.fengx.ecmonitor.monitor.mapper.ServerMapper">

    <select id="findServer" parameterType="String" resultMap="ServerResultMap">
        SELECT * FROM server where 1=1
        <if test="serverDesc!=null and serverDesc !=''">
            AND server_desc LIKE CONCAT('%',#{serverDesc},'%')
        </if>
        order by cpu_rate desc,last_check_time asc
    </select>

    <select id="findServerByIp" parameterType="String" resultMap="ServerResultMap">
        SELECT * FROM server where server_ip = #{serverIp}
    </select>

    <!--新增-->
    <insert id="addServer" parameterType="com.weaver.fengx.ecmonitor.monitor.model.ServerModel">
      insert into server(server_ip,server_desc) values (#{serverIp},#{serverDesc})
    </insert>

    <update id="updateServer" parameterType="com.weaver.fengx.ecmonitor.monitor.model.ServerModel">
      update server set server_desc = #{serverDesc}
        <if test="lastCheckTime !=null ">
            , last_check_time = #{lastCheckTime}
        </if>
        <if test="cpuRate !=null and cpuRate!='' ">
            , cpu_rate = #{cpuRate}
        </if>
        <if test="memRate !=null and memRate!='' ">
            , mem_rate = #{memRate}
        </if>
        <if test="diskRate !=null and diskRate!='' ">
            , disk_rate = #{diskRate}
        </if>
      where server_ip = #{serverIp}
    </update>

    <delete id="deleteServer" parameterType="com.weaver.fengx.ecmonitor.monitor.model.ServerModel">
      delete from server where server_ip = #{serverIp}
    </delete>

    <resultMap id="ServerResultMap" type="com.weaver.fengx.ecmonitor.monitor.model.ServerModel">
        <result column="server_ip" jdbcType="VARCHAR" property="serverIp" />
        <result column="server_desc" jdbcType="VARCHAR" property="serverDesc" />
        <result column="last_check_time" jdbcType="TIMESTAMP" property="lastCheckTime" />
        <result column="cpu_rate" jdbcType="VARCHAR" property="cpuRate" />
        <result column="mem_rate" jdbcType="VARCHAR" property="memRate" />
        <result column="disk_rate" jdbcType="VARCHAR" property="diskRate" />
    </resultMap>

</mapper>